@font-face {
    font-family: "flaticon";
    src: url("flaticon8d05.ttf?940520cab432088e0d9e5047268cedc7") format("truetype"),
url("flaticon8d05.woff?940520cab432088e0d9e5047268cedc7") format("woff"),
url("flaticon8d05.woff2?940520cab432088e0d9e5047268cedc7") format("woff2"),
url("flaticon8d05.eot?940520cab432088e0d9e5047268cedc7#iefix") format("embedded-opentype"),
url("flaticon8d05.svg?940520cab432088e0d9e5047268cedc7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-arrow-pointing-to-right:before {
    content: "\f101";
}
.flaticon-right-arrow:before {
    content: "\f102";
}
.flaticon-straight-right-arrow:before {
    content: "\f103";
}
.flaticon-right-arrow-1:before {
    content: "\f104";
}
.flaticon-long-arrow-pointing-to-the-right:before {
    content: "\f105";
}
